.transparent{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.orange{
    background-color: $button-color;
   color: white;
} 
.refresh{
    filter: invert(1);
}
