.statistics{
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 0 3px rgb(80, 72, 72);
    max-width: 96%;
}
.results .container{
   margin: auto;
}
.statistics .container .row{
    display: flex;
    justify-content: center;
}
.statistics .col{
    display: flex;
    justify-content: space-between;
    font-family: $paragraph-font;
    font-size: 14px;
    color: $header-color;
    border-bottom: 1px solid $header-color;
    margin: 10px;
}    
.statistics form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $paragraph-font;
    font-size: 14px;
    margin-top: 20px;
}
.statistics form input{
    max-height: 25px;
}
.results{
    display: flex;
    justify-content: center;
}
.stat-title{
    font-weight: 600;
}
.stat-value{
    color: black;
}
@media(max: 767px){
    .statistics form input{
        width: 75px;
        justify-content: center;
    }
}
