.statistics{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgb(80, 72, 72);
}
.results .container{
   margin: auto;
}
.statistics .container .row{
    display: flex;
    justify-content: center;
}
.statistics .col{
    display: flex;
    justify-content: space-between;
    font-family: $paragraph-font;
    font-size: 14px;
    color: $header-color;
    border-bottom: 1px solid $header-color;
    margin: 10px;
}    
.statistics form{
    display: flex;
    justify-content: center;
    font-family: $paragraph-font;
    font-size: 14px;
}
.results{
    display: flex;
    justify-content: center;
}
.stat-title{
    font-weight: 600;
}
.stat-value{
    color: black;
}

