.links{
    .container{
        margin: 20px auto;
        .row{
        display: flex;
        justify-content: center;
        padding: 10px 0;
        max-width: 70%;
        margin: auto;
        }
    }
}
.links .col{
    display: flex;
    justify-content: space-between;
    font-family: $font-main;
}

.border-bottom{
   border-bottom: 1px solid $background-color;
   padding-top: 10px;
   margin-top: 0px; 
}
.link-name{
    color: $header-color;
    font-weight: 700;
}
.link-address a{
    text-decoration: none;
    color: $link-color;
}

.btn-links{
    display: none;
}

.border-bottom:hover {
    background-color: $background-color;
}
.border-bottom:hover .btn-links{
    display: block;
}
.btn-box{
    margin-top: 30px;
}
// @media(max: 767px){
//     .links .container .row{
//        display: flex;
//        flex-direction: row;
//     .btn-links{
//         justify-content: center;
//     }
//  }
