.links{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgb(80, 72, 72);
}
.links .container .row{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.links .col{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $background-color;
    font-family: $font-main;
}
.link-name{
    color: $header-color;
    font-weight: 700;
}
.link-address{
    color: $link-color;
}