body{
    background-color: $background-color;
}
.section-title{
    font-family: $font-title;
    color:$header-color;
    font-weight: 200;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-main;
    color: $header-color;
}
p{
    font-family: $paragraph-font;
}