aside{
    top: 0%;
    background-color: black;
    height: 100%;
    font-family: $font-main;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 0px;
    position: relative;
    z-index: 2;
}
aside span{
    color: white;
}
aside i{
    color: $background-color;
    font-size: 12px;
}
.side-icon{
    filter: invert(1);
    margin: 0 10px;
    height: 14px;
    width: 14px;
}
aside a{
    text-decoration: none;
    color: $background-color;
    padding: 10px 0px;
    width: 197px;
    border-left: 3px solid transparent;
}
aside li{
    width: 100%;
    padding: 10px 0px; 
}
aside a:hover{
    border-left: 3px solid $button-color;
    color: white;
}
 aside li:hover{
    background-color: lighten(black, 20%);
}
.logo{
    padding: 20px;
    font-family: $font-logo;
    font-size: 22px;
}
aside ul{
    border-bottom: 1px solid white;
    padding-left: 0px;
    display: none;
    &.active{
        display: block;
    }
}
.assigned-manager{
    color: white;
    text-transform: uppercase;
    font-family: $font-main;
    margin: 10px;
}
.manager-name{
    color: white;
    font-family: $font-main;
    margin: 5px;
}
.manager-pic{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: url("https://i.postimg.cc/GpW2hV14/pexels-andrea-piacquadio-3760263-small.jpg");
    // background-image: url(images\pexels-andrea-piacquadio-376026-small.jpg);
    background-size: cover;
    border-radius: 50%;
    &::after{
        position: absolute;
        display: block;
        content:'';
        height: 10px;
        width: 10px;
        background: green;
        border-radius: 50%;
        left: 83%;
    }
}
.manager-description{
    display: flex;
    flex-direction: row;
}

@media(min-width: 767px){
    aside ul{
    display: block;
    }
    }
