aside{
    background-color: black;
    width: 15%;
    height: 100vh;
    font-family: $font-main;
    font-size: 12px;
    padding-top: 20px;
}
aside span{
    color: white;
}
aside i{
    color: white;
    font-size: 12px;
}
.side-icon{
    filter: invert(1);
    margin: 0 10px;
    height: 12px;
    width: 12px;
}
aside a{
    text-decoration: none;
    color: white;
}

aside li{
    margin: 20px 0px;
    padding-left: 0px;
}
aside li:hover{
    border-left: 1px solid $button-color;
}
.logo{
    padding: 20px;
    font-family: $font-logo;
    font-size: 20px;
}