nav{
    
    background-color: white;
    font-family: $font-main;
    padding: 0px;
    right: 0%;
}
nav .menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0%;
}
.name{
    font-size: 14px;
    color: $name-color;
    font-weight: 600;
}
.amount{
    font-weight: 800;
}
.top-icon{
    height: 14px;
    width: 14px;
    // margin-right: 20px;
}
.left{
    border-left: 1px solid $background-color;
    height: 62px;
    padding-left: 25px;
}

@media (max-width: 767px){
    nav{
        position: fixed;
    }
    nav .menu{
        justify-content: left;
        padding-left: 0px;
    }
    nav .notification{
        padding-left: 0px;
    }
}