nav{
    // margin-left: 800px;
    width: 100%;
    background-color: white;
    font-family: $font-main;
    padding: 0px;
}
nav .menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.name{
    font-size: 14px;
    color: $name-color;
    font-weight: 600;
}
.amount{
    font-weight: 800;
}
.top-icon{
    height: 14px;
    width: 14px;
    // margin-right: 20px;
}
.left{
    border-left: 1px solid $background-color;
    height: 62px;
    padding-left: 25px;
}

